---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/forecast.json?key=<WEATHER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '404'
      Cdn-Cachedat:
      - 01/15/2024 02:45:50
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '404'
      Cdn-Requestid:
      - 4bad46b158c0bf8ceda0d11bca9f5ef0
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 15 Jan 2024 02:45:50 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=<WEATHER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999990'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 01/15/2024 02:48:18
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - c898d8d048a983ab9acb6645a8aad43f
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Mon, 15 Jan 2024 02:48:18 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_KEY>&q=39.11,-84.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999990'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 02:54:17
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 1d8100b964f413fc29dfd84b1c61fc6b
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1705287218,"localtime":"2024-01-14
        21:53"},"current":{"last_updated_epoch":1705286700,"last_updated":"2024-01-14
        21:45","temp_c":-10.6,"temp_f":12.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":230,"wind_dir":"SW","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":50,"feelslike_c":-15.9,"feelslike_f":3.4,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":12.5,"gust_kph":20.2},"forecast":{"forecastday":[{"date":"2024-01-14","date_epoch":1705190400,"day":{"maxtemp_c":-9.1,"maxtemp_f":15.6,"mintemp_c":-13.2,"mintemp_f":8.2,"avgtemp_c":-9.7,"avgtemp_f":14.6,"maxwind_mph":14.8,"maxwind_kph":23.8,"totalprecip_mm":0.36,"totalprecip_in":0.01,"totalsnow_cm":0.3,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":49,"daily_will_it_rain":0,"daily_chance_of_rain":62,"daily_will_it_snow":0,"daily_chance_of_snow":22,"condition":{"text":"Light
        freezing rain","icon":"//cdn.weatherapi.com/weather/64x64/day/311.png","code":1198},"uv":2.0},"astro":{"sunrise":"07:56
        AM","sunset":"05:38 PM","moonrise":"10:25 AM","moonset":"09:38 PM","moon_phase":"Waxing
        Crescent","moon_illumination":9,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705208400,"time":"2024-01-14
        00:00","temp_c":-4.0,"temp_f":24.9,"is_day":0,"condition":{"text":"Light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/326.png","code":1213},"wind_mph":13.2,"wind_kph":21.2,"wind_degree":247,"wind_dir":"WSW","pressure_mb":1015.0,"pressure_in":29.98,"precip_mm":0.05,"precip_in":0.0,"snow_cm":0.0,"humidity":68,"cloud":100,"feelslike_c":-10.2,"feelslike_f":13.6,"windchill_c":-10.2,"windchill_f":13.6,"heatindex_c":-4.0,"heatindex_f":24.9,"dewpoint_c":-8.7,"dewpoint_f":16.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":1,"chance_of_snow":77,"vis_km":10.0,"vis_miles":6.0,"gust_mph":16.3,"gust_kph":26.2,"uv":1.0},{"time_epoch":1705212000,"time":"2024-01-14
        01:00","temp_c":-4.4,"temp_f":24.2,"is_day":0,"condition":{"text":"Moderate
        snow","icon":"//cdn.weatherapi.com/weather/64x64/night/332.png","code":1219},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":247,"wind_dir":"WSW","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.11,"precip_in":0.0,"snow_cm":0.0,"humidity":79,"cloud":100,"feelslike_c":-10.8,"feelslike_[...]
