---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_KEY>&q=39.11,-84.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999976'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 19:11:23
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f08e148dc2a99c483b57d28ccd7d6244
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1705345845,"localtime":"2024-01-15
        14:10"},"current":{"last_updated_epoch":1705345200,"last_updated":"2024-01-15
        14:00","temp_c":-9.4,"temp_f":15.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":75,"feelslike_c":-13.6,"feelslike_f":7.5,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":5.4,"gust_kph":8.7},"forecast":{"forecastday":[{"date":"2024-01-15","date_epoch":1705276800,"day":{"maxtemp_c":-7.8,"maxtemp_f":17.9,"mintemp_c":-13.0,"mintemp_f":8.5,"avgtemp_c":-10.5,"avgtemp_f":13.1,"maxwind_mph":6.7,"maxwind_kph":10.8,"totalprecip_mm":0.04,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":8,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"uv":2.0},"astro":{"sunrise":"07:56
        AM","sunset":"05:39 PM","moonrise":"10:52 AM","moonset":"10:51 PM","moon_phase":"Waxing
        Crescent","moon_illumination":17,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705294800,"time":"2024-01-15
        00:00","temp_c":-11.4,"temp_f":11.5,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":277,"wind_dir":"W","pressure_mb":1027.0,"pressure_in":30.32,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":42,"cloud":75,"feelslike_c":-16.7,"feelslike_f":2.0,"windchill_c":-16.7,"windchill_f":2.0,"heatindex_c":-11.4,"heatindex_f":11.5,"dewpoint_c":-21.7,"dewpoint_f":-7.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.2,"gust_kph":11.6,"uv":1.0},{"time_epoch":1705298400,"time":"2024-01-15
        01:00","temp_c":-11.6,"temp_f":11.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":279,"wind_dir":"W","pressure_mb":1027.0,"pressure_in":30.31,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":43,"cloud":47,"feelslike_c":-17.0,"feelslike_f":1.5,[...]
