---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_KEY>&q=39.11,-84.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999964'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 17:47:14
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6a339286b093c79a5c38894353fca9e5
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1705427195,"localtime":"2024-01-16
        12:46"},"current":{"last_updated_epoch":1705427100,"last_updated":"2024-01-16
        12:45","temp_c":-10.6,"temp_f":12.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":260,"wind_dir":"W","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":75,"feelslike_c":-17.5,"feelslike_f":0.5,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":18.1,"gust_kph":29.2},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-7.6,"maxtemp_f":18.3,"mintemp_c":-11.9,"mintemp_f":10.6,"avgtemp_c":-10.2,"avgtemp_f":13.7,"maxwind_mph":10.3,"maxwind_kph":16.6,"totalprecip_mm":0.37,"totalprecip_in":0.01,"totalsnow_cm":0.32,"avgvis_km":9.6,"avgvis_miles":5.0,"avghumidity":56,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":16,"condition":{"text":"Light
        freezing rain","icon":"//cdn.weatherapi.com/weather/64x64/day/311.png","code":1198},"uv":2.0},"astro":{"sunrise":"07:55
        AM","sunset":"05:40 PM","moonrise":"11:18 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705381200,"time":"2024-01-16
        00:00","temp_c":-10.5,"temp_f":13.1,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":7.2,"wind_kph":11.5,"wind_degree":323,"wind_dir":"NW","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":56,"cloud":97,"feelslike_c":-15.5,"feelslike_f":4.2,"windchill_c":-15.5,"windchill_f":4.2,"heatindex_c":-10.5,"heatindex_f":13.1,"dewpoint_c":-17.5,"dewpoint_f":0.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.9,"gust_kph":14.4,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705384800,"time":"2024-01-16
        01:00","temp_c":-10.6,"temp_f":12.9,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":330,"wind_dir":"NNW","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":57,"cloud":100,"feelslike_c":-15.6,"feelslike_f":4.0,"windchill_c":-15.6,"windchill_f":4.0,"heatindex_c":-10.6,"heatindex_f":12.9,"[...]
