---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_KEY>&q=39.11,-84.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999953'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/17/2024 15:03:16
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 076fd7a690a56707a5b26821c44154e1
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1705503394,"localtime":"2024-01-17
        9:56"},"current":{"last_updated_epoch":1705502700,"last_updated":"2024-01-17
        09:45","temp_c":-13.3,"temp_f":8.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":190,"wind_dir":"S","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"humidity":75,"cloud":0,"feelslike_c":-20.9,"feelslike_f":-5.5,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":13.2,"gust_kph":21.2},"forecast":{"forecastday":[{"date":"2024-01-17","date_epoch":1705449600,"day":{"maxtemp_c":-2.5,"maxtemp_f":27.6,"mintemp_c":-12.2,"mintemp_f":10.0,"avgtemp_c":-8.2,"avgtemp_f":17.3,"maxwind_mph":14.5,"maxwind_kph":23.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":46,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.0},"astro":{"sunrise":"07:55
        AM","sunset":"05:41 PM","moonrise":"11:43 AM","moonset":"12:03 AM","moon_phase":"Waxing
        Crescent","moon_illumination":37,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705467600,"time":"2024-01-17
        00:00","temp_c":-11.7,"temp_f":11.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":57,"cloud":0,"feelslike_c":-18.9,"feelslike_f":-2.1,"windchill_c":-18.9,"windchill_f":-2.1,"heatindex_c":-11.7,"heatindex_f":11.0,"dewpoint_c":-18.4,"dewpoint_f":-1.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.0,"gust_kph":20.9,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705471200,"time":"2024-01-17
        01:00","temp_c":-11.9,"temp_f":10.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":252,"wind_dir":"WSW","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":58,"cloud":0,"feelslike_c":-19.2,"feelslike_f":-2.6,"windchill_c":-19.2,"windchill_f":-2.6,"heatindex_c":-11.9,"heatindex_f":10.5,"de[...]
